// This is the height of each item in the list of Descriptions and Things. The rendering
// works by offsetting each list by some negative-multiple of this value (see HTML).
@itemHeight: 85px ;

body {
  background-color: green;
}
:host {
	box-sizing: border-box ;
	display: flex ;
	flex-direction: column ;
	font-size: 18px ;
	min-height: 100vh ;
	padding: 30px 30px 30px 30px ;
}
.iconset{
  padding: 000px 0px 0px 1000px ;
  width: 10% ;
  height: 10%;

}
h1 {
	flex: 0 0 auto ;
	font-size: 80px ;
}

h3 {
  color: #ffffff;
  padding: 30px 0px 0px 00px ;
}
.test{
  font-size: 40px;
}
.test2{
  font-size: 40px;
}
.parts {
	display: flex ;
	flex-direction: column ;
	margin: auto auto auto auto ;
  padding: 0px 100px 0px 0px;
	@media screen and ( min-width: 1175px ) {
		flex-direction: row ;
	}
}

.part {
	height: @itemHeight ;
	margin: auto auto auto auto ;
	overflow: hidden ;
	text-align: center ;
  color: #ffffff;
	@media screen and ( min-width: 1175px ) {
		margin: 10px 10px 10px 10px ;
		text-align: center ;
		width: 100% ;

		&:first-child {
			text-align: center ;
		}
	}
}
.part2 {
	height: @itemHeight ;
	margin: 0 0 0 0 ;
	overflow: hidden ;
	text-align: left ;
  color: #ffffff;
}

.items1 {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	// transition: transform 10000ms ease-in-out ;
  	transition: transform 4s ease-in-out 0.1s;
	//transition-timing-function: ease-in-out 0.8s;
	//transition-duration: 3s;
}
.items2 {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	// transition: transform 10000ms ease-in-out ;
  	transition: transform 6s ease-in-out 0.2s;
	//transition-timing-function: ease-in-out 0.8s;
	//transition-duration: 3s;
}

.items3 {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	// transition: transform 10000ms ease-in-out ;
  	transition: transform 8s ease-in-out 0.3s;
	//transition-timing-function: ease-in-out 0.8s;
	//transition-duration: 3s;
}

.items4 {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	// transition: transform 10000ms ease-in-out ;
  	transition: transform 10s ease-in-out 0.4s;
	//transition-timing-function: ease-in-out 0.8s;
	//transition-duration: 3s;
}

.items5 {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	// transition: transform 10000ms ease-in-out ;
  	transition: transform 12s ease-in-out 0.5s;

}

.item {
	font-size: 32px ;
	font-weight: 2000 ;
  color: #ffffff;
	height: @itemHeight ;
	line-height: @itemHeight ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;

	@media screen and ( min-width: 550px ) {
		font-size: 50px ;
	}

	@media screen and ( min-width: 675px ) {
		font-size: 100px ;
	}

	&:not(.selected) {
		user-select: none ;
			-moz-user-select: none ;
			-webkit-user-select: none ;
	}
}

.actions {
	// display: flex ;
	flex: 0 0 auto ;
	// justify-content: center ;
  text-align: center;

}

.length {
	color: #999999 ;
	font-size: 16px ;
	line-height: 21px ;
	margin: 20px 0px 20px 0px ;
	text-align: center ;
}

.btn-primary {
	background-color: #ff3366 ;
	border-radius: 8px 8px 8px 8px ;
	border-width: 0px 0px 0px 0px ;
	color: #ffffff ;
	cursor: pointer ;
	font-size: 20px ;
	font-weight: 400 ;
	letter-spacing: 0.5px ;
	padding: 20px 30px 20px 30px ;


}
