
<div class="row">
  <h1  style="margin-right: 120px; color: green;">PVO HAPPY NEW YEAR 2022</h1>
</div>
<div class="row">
  <div class="col-7">
    <h3 style="text-align: center;">รหัสพนักงาน</h3>
    <div class="row">
      <div class="part" style="width: 100px; ">
        <ul
          class="items1"
          [style.transform]="( 'translateY( -' + ( slot_index_1 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot1 of slot_1 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_1 )">
            {{ slot1 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 100px;">
        <ul
          class="items2"
          [style.transform]="( 'translateY( -' + ( slot_index_2 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot2 of slot_2 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_2 )">
            {{ slot2 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 100px;">
        <ul
          class="items3"
          [style.transform]="( 'translateY( -' + ( slot_index_3 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot3 of slot_3 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_3 )">
            {{ slot3 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 100px;">

        <ul
          class="items4"
          [style.transform]="( 'translateY( -' + ( slot_index_4 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot4 of slot_4 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_4 )">
            {{ slot4 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 100px;">

        <ul
          class="items5"
          [style.transform]="( 'translateY( -' + ( slot_index_5 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot5 of slot_5 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_5 )">
            {{ slot5 }}
          </li>
        </ul>
      </div>
      <div class="parts">
        <div class="part2">
          <div  style="text-align: center; font-size: 40px;" [hidden]="visibleState">
            ชื่อ-นามสกุล:{{UserData}}
          </div>

        </div>
      </div>
      <div  [hidden]="visibleState"  style="text-align: center; color: white;font-size: 40px;">
        แผนก:{{department}}
      </div>

      <div style="text-align: center;">
        <button class="btn btn-primary"  [disabled]="isLoading" (click)="generateName()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Generate Sprint Name</button>


      </div>
    </div>


  </div>
  <div class="col-5" style="color: white;">
    <h4>  รางวัล "{{giftname}}" จำนวน "{{qty}}" รางวัล</h4>
    <h4>  จับรางวัลไปแล้ว {{draw}} ครั้ง </h4>


   <table class="table table-dark">
     <thead>
       <tr>
         <th *ngFor="let head of headElements" scope="col" >{{head}} </th>
       </tr>
     </thead>
     <tbody>
       <tr mdbTableCol *ngFor="let el of userLucky_List">
         <th scope="row">{{el.empid}}</th>
         <td>{{el.name}}</td>
         <td>{{el.surname}}</td>
         <td>{{el.dept}}</td>
         <td>{{el.draw}}</td>
       </tr>
     </tbody>
   </table>
   <!-- <div class="root">
      <button (click)="showModalDialog()">Show Modal Dialog</button>
    <lib-modal-dialog [(isOpen)]="modalIsOpen" title="Modal Dialog Title">
      <div class="modal-content">
        <h1>Content</h1>
      </div>
    </lib-modal-dialog>
  </div> -->
  <style>

    .popup-content{
      text-align: center;
      margin: 20px;
    }

    .modal-content{
      padding: 20px;
      margin: 10px;
      text-align: center;
      background: #eee;
    }

    lib-drop-down{
      margin: 10px;
    }
  </style>
  </div>
</div>



<!-- <h1  style="margin-right: 120px; color: green;">PVO HAPPY NEW YEAR 2022</h1>
<div class="row">
  <div class="col-8">
    <h3 style="margin-top: 0px;margin-bottom: 40px;margin-left: 315px; font-size: 50px;">รหัสพนักงาน</h3>
    <div class="parts" style="margin-bottom: 115px;margin-top: 0px;margin-left: 30px;">
      <div class="part" style="width: 150px; ">
          <ul
            class="items1"
            [style.transform]="( 'translateY( -' + ( slot_index_1 * 85 ) + 'px )' )">
            <li
              *ngFor="let slot1 of slot_1 ; let i = index ;"
              class="item"
              [class.selected]="( i === slot_index_1 )">
              {{ slot1 }}
            </li>
          </ul>
        </div>
        <div class="part" style="width: 150px;">
          <ul
            class="items2"
            [style.transform]="( 'translateY( -' + ( slot_index_2 * 85 ) + 'px )' )">
            <li
              *ngFor="let slot2 of slot_2 ; let i = index ;"
              class="item"
              [class.selected]="( i === slot_index_2 )">
              {{ slot2 }}
            </li>
          </ul>
        </div>
      <div class="part" style="width: 150px;">
        <ul
          class="items3"
          [style.transform]="( 'translateY( -' + ( slot_index_3 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot3 of slot_3 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_3 )">
            {{ slot3 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 150px;">

        <ul
          class="items4"
          [style.transform]="( 'translateY( -' + ( slot_index_4 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot4 of slot_4 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_4 )">
            {{ slot4 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 150px;">

        <ul
          class="items5"
          [style.transform]="( 'translateY( -' + ( slot_index_5 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot5 of slot_5 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_5 )">
            {{ slot5 }}
          </li>
        </ul>
      </div>
    </div>
    <div class="parts" style="margin: 0 0 0 0;">
      <div class="part2" style="left: 0px;margin-left: 200px;">
        <div class="test" style="bottom: 0px;top: 400px;height: 200px;width: 1000px;left: 230px;" [hidden]="visibleState">
          ชื่อ-นามสกุล:{{UserData}}
        </div>

      </div>
    </div>
    <div class="test2" [hidden]="visibleState" style="color: white;margin-left: 360px;">
      แผนก:{{department}}
    </div>

    <div class="actions" style="margin-right: 120px;margin-top: 200;">
      <button class="btn btn-primary" style="margin-top: 50px;" [disabled]="isLoading" (click)="generateName()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Generate Sprint Name</button>


    </div>

  </div>
  <div class="col-4" style="color: white;">


     <h2 style="font-size: 25;">  รางวัล "{{giftname}}" จำนวน "{{qty}}" รางวัล</h2>
     <h2 style="font-size: 20;">  จับรางวัลไปแล้ว {{draw}} ครั้ง </h2>


    <table class="table table-dark">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of userLucky_List">
          <th scope="row">{{el.empid}}</th>
          <td>{{el.name}}</td>
          <td>{{el.surname}}</td>
          <td>{{el.dept}}</td>
          <td>{{el.draw}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->



