<script type="text/javascript" src="https://rawgit.com/Gary-Li/angular-scrollable-table/master/angular-scrollable-table.js"></script>
<div class="row">
  <h1  style="margin-right: 120px; color:yellow;">PVO HAPPY NEW YEAR 2022</h1>
</div>
<div class="row">
  <div class="col-12" style="color: white;">
    <h2 style="text-align: center; font-size: 40px; margin-top: 30px;">  รางวัล "{{giftname}}" จำนวน "{{qty}}" รางวัล</h2>
    <h2 style="text-align: center; font-size: 40px;">  จับรางวัลไปแล้ว {{draw}} ครั้ง </h2>
    <h3 style="text-align: center; font-size: 50px; margin-top: 50px; margin-bottom: 30px;">รหัสพนักงาน</h3>
    <div class="row d-flex justify-content-center" style="text-align: center;">
      <div class="part" style="width: 200px;height: 200;">
        <ul

          [ngClass]="setZero === 'setZero' ? 'Zero':'items1'"
          [style.transform]="( 'translateY( -' + ( slot_index_1 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot1 of slot_1 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_1 )">
            {{ slot1 }}
          </li>
        </ul>
      </div>


      <div class="part" style="width: 200px;">
        <ul
        [ngClass]="setZero === 'setZero' ? 'Zero':'items2'"
          [style.transform]="( 'translateY( -' + ( slot_index_2 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot2 of slot_2 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_2 )">
            {{ slot2 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 200px;">
        <ul
        [ngClass]="setZero === 'setZero' ? 'Zero':'items3'"
          [style.transform]="( 'translateY( -' + ( slot_index_3 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot3 of slot_3 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_3 )">
            {{ slot3 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 200px;">

        <ul
        [ngClass]="setZero === 'setZero' ? 'Zero':'items4'"
          [style.transform]="( 'translateY( -' + ( slot_index_4 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot4 of slot_4 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_4 )">
            {{ slot4 }}
          </li>
        </ul>
      </div>

      <div class="part" style="width: 200px;">

        <ul
        [ngClass]="setZero === 'setZero' ? 'Zero':'items5'"
          [style.transform]="( 'translateY( -' + ( slot_index_5 * 85 ) + 'px )' )">
          <li
            *ngFor="let slot5 of slot_5 ; let i = index ;"
            class="item"
            [class.selected]="( i === slot_index_5 )">
            {{ slot5 }}
          </li>
        </ul>
      </div>
      </div>
      <div class="row">

      <div class="parts">
        <div class="part2" style="text-align: center;">
          <div  style="text-align: center; font-size: 50px; margin-bottom: 30px;margin-top: 30px;" [hidden]="visibleState">
            ชื่อ-นามสกุล:{{UserData}}
          </div>

        </div>
      </div>
      <div  [hidden]="visibleState"  style="text-align: center; color: white;font-size: 50px; margin-top: 50px;">
        แผนก:{{department}}
      </div>
      <div class="row">
        <div class="col-7">
          <div style="text-align: right; margin-top: 100px;">
            <button class="btn btn-primary"  [disabled]="isLoading" [hidden]="lastItem" (click)="generateName()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Generate Sprint Name</button>
            <button class="btn btn-primary"  [hidden]="!lastItem" [disabled]="isLoading" (click)="NextReward()"  style="margin-right: 50px;"> Next Reward</button>

          </div>
        </div>
        <div class="col-5" >
          <div class="row">
            <img  [hidden]="showalldialog" (click)="showModalDialog()" src="../assets/images/gift-box-icon-png-53.png" alt="xssm" style="width: 30%; margin-top: 50px;margin-left: 15%;">
            <img [ngClass]="showalldialog === true ? 'last':'notlast'" (click)="showModalDialog2()" src="../assets/images/kisspng-christmas-gift-clip-art-5ad79b0e8d64f9.7198394915240793745792.png" alt="xssm" >
          </div>

        </div>

      </div>



      <div class="root">
          <!-- <button  (click)="showModalDialog()" >
          </button> -->
        <lib-modal-dialog [(isOpen)]="modalIsOpen" title="รางวัลผู้โชคดี">
          <div class="modal-content">
            <h2>  รางวัล "{{giftname}}" จำนวน "{{qty}}" รางวัล</h2>
            <h2>  จับรางวัลไปแล้ว {{draw}} ครั้ง </h2>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 650px;">
              <table mdbTable mdbTableScroll scrollY="true" bordered="true" class="table table-dark" style="font-size: 30px;">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements" scope="col" >{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of userLucky_List let i = index;">

                    <th scope="row">{{i+1}}</th>
                    <td>{{el.empid}}</td>
                    <td>{{el.name}}</td>
                    <td>{{el.surname}}</td>
                    <td>{{el.dept}}</td>
                    <td>{{el.draw}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </lib-modal-dialog>

      </div>

    </div>
    <div class="root">
      <!-- <button  (click)="showModalDialog()" >
      </button> -->
    <lib-modal-dialog [(isOpen)]="modalIsOpen2" title="รางวัลผู้โชคดี">
      <div class="modal-content">
        <h2>  รางวัล ผู้โชคดีทั้งหมด {{allgifts}} รางวัล</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 700px;">
          <table  class="table table-dark" style="font-size: 30px;">
            <thead>
              <tr>
                <th class="sticky" *ngFor="let head of headElements2" scope="col" >{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of alluserluckylist let i = index;">

                <th scope="row">{{i+1}}</th>
                <td>{{el.empid}}</td>
                <td>{{el.name}}</td>
                <td>{{el.surname}}</td>
                <td>{{el.dept}}</td>
                <td>{{el.draw_time}}</td>
                <td>{{el.gift_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </lib-modal-dialog>

  </div>

  </div>
</div>



